@using e190.Model
@model e190.ViewModel.IndexVm

@{
    ViewData["Title"] = "Kong";
}

@foreach (var pie in Model.Pies)
{
    <div class="alert alert-@GetAlertClass(pie)">@pie.Filling</div>
}

@functions
{
    string GetAlertClass(Pie pie)
    {
        return pie.IsSweet ? "info" : "success";
    }
}